<p-progressBar [hidden]="!loading" mode="indeterminate" [style]="{ height: '3px' }"></p-progressBar>
<p-confirmDialog></p-confirmDialog>
<div class="card" *ngIf="loading == false">
    <h3>Meus Chamados</h3>
    <button pButton icon="pi pi-external-link" label="Novo Chamado" class="p-button-success mb-3" routerLink="/order/create"></button>
    <app-form-table-lazy (event)="event($event)" [totalRecords]="data.totalCount" [lazy]="true" [loading]="loading" [cols]="cols" [data]="data.orders"></app-form-table-lazy>
</div>
