<p-progressBar [hidden]="!loading" mode="indeterminate" [style]="{ height: '3px' }"></p-progressBar>
<p-confirmDialog></p-confirmDialog>
<div *ngIf="!loading">
    <div class="card">
        <button pButton icon="pi pi-refresh" label="Retornar" class="p-button" onclick="window.history.back(); return false;"></button>
        <h3>Detalhes do chamado {{ data.id }}</h3>
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-3">
                <h5>Parâmetros</h5>
                <div [class]="style.formCard">
                    <span [class]="style.formItem">
                        <label>Título</label>
                        <input [class]="style.formItem" [readonly]="true" pInputText [(ngModel)]="data.title" />
                    </span>
                    <span [class]="style.formItem">
                        <label>Prioridade</label>
                        <p-dropdown
                            [filter]="true"
                            placeholder="Selecione um valor"
                            filterBy="name"
                            optionValue="id"
                            [class]="style.formItem"
                            optionLabel="name"
                            [options]="priorities"
                            [readonly]="true"
                            [(ngModel)]="data.priorityId"
                        ></p-dropdown>
                    </span>
                    <span [class]="style.formItem">
                        <label>Status</label>
                        <p-dropdown
                            [class]="style.formItem"
                            [filter]="true"
                            placeholder="Selecione um valor"
                            filterBy="name"
                            optionValue="id"
                            optionLabel="name"
                            [readonly]="true"
                            [options]="statuses"
                            [(ngModel)]="data.statusId"
                        ></p-dropdown>
                    </span>
                    <span [class]="style.formItem">
                        <label>Categoria</label>
                        <p-dropdown
                            [class]="style.formItem"
                            [filter]="true"
                            placeholder="Selecione um valor"
                            filterBy="name"
                            optionValue="id"
                            optionLabel="name"
                            [options]="categories"
                            [readonly]="true"
                            [(ngModel)]="data.categoryId"
                        ></p-dropdown>
                    </span>
                    <p-selectButton [class]="style.formItem" [disabled]="true" [options]="agentSelector" [(ngModel)]="agentValue" optionLabel="label" optionValue="value"></p-selectButton>
                    <span [class]="style.formItem" *ngIf="agentValue == 'agent'">
                        <label>Atendente</label>
                        <p-dropdown
                            [class]="style.formItem"
                            [filter]="true"
                            placeholder="Selecione um valor"
                            filterBy="firstName"
                            optionValue="id"
                            optionLabel="firstName"
                            [options]="users"
                            [(ngModel)]="data.agentId"
                            [readonly]="true"
                            (onChange)="clearAgentSelection()"
                        ></p-dropdown>
                    </span>
                    <span [class]="style.formItem" *ngIf="agentValue == 'supportGroup'">
                        <label>Grupo de Atendimento</label>
                        <p-dropdown
                            [class]="style.formItem"
                            [filter]="true"
                            placeholder="Selecione um valor"
                            filterBy="name"
                            optionValue="id"
                            optionLabel="name"
                            [options]="supportGroups"
                            [(ngModel)]="data.supportGroupId"
                            [readonly]="true"
                            (onChange)="clearAgentSelection()"
                        ></p-dropdown>
                    </span>
                    <span [class]="style.formItem">
                        <label>Criado em</label>
                        <input [class]="style.formItem" [readOnly]="true" pInputText [ngModel]="data.openingDate | date : 'dd/MM/yyyy HH:mm:ss'" />
                    </span>
                    <span [class]="style.formItem">
                        <label>Atualizado em</label>
                        <input [class]="style.formItem" [readOnly]="true" pInputText [ngModel]="data.updatedAt | date : 'dd/MM/yyyy HH:mm:ss'" />
                    </span>
                    <span [class]="style.formItem">
                        <label>Encerrado em</label>
                        <input [class]="style.formItem" [readOnly]="true" pInputText [ngModel]="data.closingDate | date : 'dd/MM/yyyy HH:mm:ss'" />
                    </span>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-9">
                <h5>Descrição</h5>
                <p-editor [(ngModel)]="data.description" [readonly]="true" [style]="{ height: '40rem' }"></p-editor>
            </div>
        </div>
        <p-fieldset *ngIf="!isOrderFinished()" legend="Ações" [collapsed]="false" [toggleable]="true">
            <p-rating [cancel]="false" [(ngModel)]="data.rating"></p-rating>
            <button pButton label="Classificar Atendimento" class="p-button" (click)="rateOrder()"></button>
        </p-fieldset>
    </div>
    <div class="card">
        <h5>Apontamentos</h5>
        <h6 *ngIf="!anyTimeEntry()">Este chamado ainda não possui nenhum apontamento.</h6>
        <div *ngFor="let item of data.TimeEntries">
            <div class="card mb-2">
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-3">
                        <h5>Parâmetros</h5>
                        <span [class]="style.formItem">
                            <label>ID Apontamento</label>
                            <input [class]="style.formItem" [readOnly]="true" pInputText [ngModel]="item.id" />
                        </span>
                        <span [class]="style.formItem">
                            <label>Início Apontamento</label>
                            <input [class]="style.formItem" [readOnly]="true" pInputText [ngModel]="item.startTime | date : 'dd/MM/yyyy HH:mm:ss'" />
                        </span>
                        <span [class]="style.formItem">
                            <label>Fim Apontamento</label>
                            <input [class]="style.formItem" [readOnly]="true" pInputText [ngModel]="item.endTime | date : 'dd/MM/yyyy HH:mm:ss'" />
                        </span>
                        <span [class]="style.formItem">
                            <label>Criado em</label>
                            <input [class]="style.formItem" [readOnly]="true" pInputText [ngModel]="item.createdAt | date : 'dd/MM/yyyy HH:mm:ss'" />
                        </span>
                        <span [class]="style.formItem">
                            <label>Atualizado em</label>
                            <input [class]="style.formItem" [readOnly]="true" pInputText [ngModel]="item.updatedAt | date : 'dd/MM/yyyy HH:mm:ss'" />
                        </span>
                        <span [class]="style.formItem">
                            <label>Criado por</label>
                            <input [class]="style.formItem" [readOnly]="true" pInputText [ngModel]="item.User.firstName" />
                        </span>
                        <span [class]="style.formItem">
                            <label>Apontamento visível para:</label>
                            <p-selectButton [class]="style.formItem" [disabled]="true" [options]="timeEntrySelector" [(ngModel)]="item.type" optionLabel="label" optionValue="value"></p-selectButton>
                        </span>
                    </div>
                    <div class="col-12 md:col-6 lg:col-9">
                        <h5>Descrição</h5>
                        <p-editor [ngModel]="item.description" [readonly]="true" [style]="{ height: '30rem' }">
                            <ng-template pTemplate="header"></ng-template>
                        </p-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
