<p-progressBar [hidden]="!loading" mode="indeterminate" [style]="{ height: '3px' }"></p-progressBar>
<p-confirmDialog></p-confirmDialog>
<p-dialog [(visible)]="modalDialog" header="Detalhes do Registro" [transitionOptions]="'100ms'" [modal]="true" styleClass="p-fluid">
    <div class="mt-4"></div>
    <app-form [fields]="fields" buttonLabel="Salvar" [inputData]="selectedRegistry" (formData)="getFormData($event)"></app-form>
</p-dialog>
<div class="card" *ngIf="loading == false">
    <h3 class="mb-3">Gerenciar Posts</h3>
    <p-dataView #dv [value]="data" [layout]="layout">
        <ng-template pTemplate="header">
            <div class="flex justify-content-end">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-item pTemplate="listItem">
            <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                    <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                            <div class="text-2xl font-bold text-900">{{ item.title }}</div>
                            <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                    <i class="pi pi-at"></i>
                                    <span class="font-semibold">{{ item.content }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="flex flex-wrap align-items-center justify-content-between">
                            <span class="text-mg font-semibold">Autor: {{ item.author.firstName }}</span>
                            <span class="text-mg font-semibold">Criado em: {{ item.createdAt | date : "dd/MM/yy HH:mm:ss" }}</span>
                            <span class="text-mg font-semibold">Atualizado em: {{ item.updatedAt | date : "dd/MM/yy HH:mm:ss" }}</span>
                            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="editRegistry(item)"></button>
                            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteRegistry(item)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-item pTemplate="gridItem">
            <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
                <div class="p-4 border-1 surface-border surface-card border-round">
                    <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                        <span class="flex align-items-center gap-2">
                            <i class="pi pi-at"></i>
                            <span class="text-xl font-semibold">{{ item.title }}</span>
                        </span>
                    </div>
                    <div class="flex flex-column align-items-center gap-3 py-5">
                        <div class="text-2xl font-bold">{{ item.content }}</div>
                    </div>
                    <div class="flex flex-wrap align-items-center justify-content-between">
                        <span class="text-mg font-semibold">Autor: {{ item.author.firstName }}</span>
                        <span class="text-mg font-semibold">Criado em: {{ item.createdAt | date : "dd/MM/yy HH:mm:ss" }}</span>
                        <span class="text-mg font-semibold">Atualizado em: {{ item.updatedAt | date : "dd/MM/yy HH:mm:ss" }}</span>
                        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="editRegistry(item)"></button>
                        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteRegistry(item)"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
