<p-progressBar [hidden]="!loading" mode="indeterminate" [style]="{ height: '3px' }"></p-progressBar>
<p-confirmDialog></p-confirmDialog>
<app-form [fields]="fields" [modalDialog]="modalDialog" buttonLabel="Salvar" [inputData]="selectedRegistry" (formData)="getFormData($event)"></app-form>
<div class="card" *ngIf="loading == false">
    <h3>Gerenciar Usuários</h3>
    <button pButton icon="pi pi-plus" label="Criar Usuário" class="p-button-success mb-3" (click)="createUser()"></button>
    <app-form-table [loading]="loading" [cols]="cols" [data]="data" (event)="event($event)"></app-form-table>
</div>
