<p-dialog [(visible)]="modalDialog" header="Detalhes do Registro" [transitionOptions]="'100ms'" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div [formGroup]="form" class="field">
            <div [class]="style.formItem" *ngFor="let field of fields">
                <label [for]="field.id">{{ field.label }}</label>
                <div *ngIf="field.type === 'text'">
                    <span class="p-float-label">
                        <input [id]="field.id" [formControlName]="field.name" [(ngModel)]="data[field.name]" pInputText />
                    </span>
                </div>
                <div *ngIf="field.type === 'textArea'">
                    <span class="p-float-label">
                        <textarea [id]="field.id" [formControlName]="field.name" rows="5" cols="30" pInputTextarea [(ngModel)]="data[field.name]"></textarea>
                    </span>
                </div>
                <small *ngIf="isFieldInvalid(field.name)" id="email-help" class="p-error">{{ getErrorMessage(field.name) }}</small>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" [disabled]="!form.valid" (click)="save()"></button>
    </ng-template>
</p-dialog>
